.player-container {
  width: 333px;
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 6px;
}
.player-bar{
  margin-top: 8px;
}
.progress-bar{
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
}
.song-time {
  font-size: 14px;
}

.volume-control {
  height: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}
.volume-percent{
  font-size: 14px;  
  width: 80px;
}
.volume-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: #ddd;
  outline: none;
  cursor: pointer;
}

.button-controls {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.previous-song {
  margin-right: 24px;
  border: #fbf998 solid 1px;
}
.play-song{
  border: #b7ffb6 solid 1px;
}
.repeat-song{
  border: #add8e6 solid 1px;
}
.active{
  background-color: #8bd7f010;
}
.next-song {
  margin-left: 24px;
  border: #98fb98 solid 1px;
}

.song-info {
  margin-bottom: 10px;
}
.song-name {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 6px;
}
.song-author{
  font-size: 16px;
  color: #ddd;
}

.toast-box{
  position: relative;
  display: inline-block;
}
.toast-message {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 6px 12px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}
.toast-message.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
.toast-message.hide {
  opacity: 0;
  transform: translateX(-50%) translateY(-10px);
}